//- Создает список социальных иконок с соответствующей svg-иконкой. Принимает два аргумента: модификатор класса иконки, массив с элементами
mixin socialList(iconModifier, items)
  - var svgIdModifier = ''
  ul.social
    each item in items
      li.social__item
        a(href=item.href target="_blank" class='social__link')
          svg(class='icon icon_' + iconModifier)
              use(xlink:href='assets/images/icons/sprite.svg#' + item.id)



mixin icon(iconModifier, svgId)
  svg(class='icon icon_' + iconModifier)
    use(xlink:href='assets/images/icons/sprite.svg#' + svgId)



mixin navList(navModifier, navLinkModifier, items, reduceStep)
  if !reduceStep
    - var reduceStep = 0
  ul(class="nav__list " + navModifier)
    - for (i = 0; i < items.length - reduceStep; i++)
        li.nav__item(class="nav__item_" + `${navLinkModifier}`)
          a(href= items[i].href class="nav__link nav__link_" + navLinkModifier)= items[i].name


mixin skills(skillsList)
  ul.skills__list
    each item in skillsList
      li.skills__item
        .skills-row
          .skills-row__title= item.type
          - var values = item.values
            ul.skills-row__list
              - for (i = 0; i < values.length; i++)
                  li.skills-row__item
                    .skill
                      svg(class="circles", viewBox="0 0 120 120")
                        circle(r="45", cx="50%", cy="50%", fill="none", class="circle__one")
                        circle(r="45", cx="50%", cy="50%", transform="rotate(-90 60 60)", class="circle__two circle-"+values[i].skillValue)
                      .skill__name= values[i].skillName


mixin headerTitleBg(pageModifier)
  svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 171.5 132.5" class="icon icon_title-bg-" + pageModifier)
    g
     circle(cx='4.25', cy='92.25', r='4.25')
     circle(cx='48.25', cy='128.25', r='4.25')
     circle(cx='72.75', cy='52.75', r='4.75')
     circle(cx='8.25', cy='22.25', r='4.25')
     circle(cx='117.25', cy='96.25', r='2.75')
     circle(cx='126.25', cy='41.25', r='1.911')
     circle(cx='167.25', cy='4.25', r='4.25')
     path(d='M72.75 52.75l44.5 43.5-113-4 44 36 69-32 50-92-41 37-53.5 13.084L8.25 22.25m40 109.084L8.5 24.339')

mixin headerContentBg(pageModifier)
  svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 186.861 110.966" class="icon icon_header-content-bg-" + pageModifier)
    g
      circle(cx='70.704', cy='105.783', r='5.182')
      circle(cx='5.183', cy='78.269', r='5.183')
      circle(cx='121.8', cy='63.519', r='2.848')
      circle(cx='48.859', cy='49.678', r='2.848')
      circle(cx='33.16', cy='17.826', r='2.848')
      circle(cx='87.597', cy='7.948', r='2.848')
      path(d='M5.183 78.269l65.521 27.513 51.097-42.263z')
      path(d='M33.16 17.825L5.183 78.269l65.521 27.513L88.01 7.825zm15.699 31.852l72.942 13.842')
      circle(cx='181.678', cy='93.211', r='5.182')
      circle(cx='136.611', cy='5.184', r='5.183')
      circle(cx='176.274', cy='27.121', r='2.848')
      circle(cx='123.17', cy='79.005', r='2.848')
      circle(cx='88.066', cy='73.644', r='2.848')
      circle(cx='111.13', cy='23.354', r='2.848')
      path(d='M123.17 79.005l58.508 14.205-5.404-66.09z')
      path(d='M88.065 73.644l48.546-68.461 45.067 88.027-70.413-70.265zm35.104 5.36l53.105-51.884')

mixin reviewsTitleBg(pageModifier)
  svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 103.03 124.03" class="icon icon_title-bg-" + pageModifier)
    g
      circle(cx='5.182', cy='60.182', r='5.182')
      circle(cx='50.182', cy='5.182', r='5.182')
      circle(cx='31.182', cy='121.182', r='2.848')
      circle(cx='65.182', cy='55.182', r='2.848')
      circle(cx='100.182', cy='49.182', r='2.848')
      circle(cx='94.182', cy='104.182', r='2.848')
      path(d='M50.183 5.182l-45 55 26 61.001z')
      path(d='M100.183 49.182l-50-44-45 55 89 44.43zm-35 6l-34 66.001')

mixin parallax()
  .parallax__layer
     video.parallax__layer-video(width="100%" height="auto" preload="auto" autoplay="autoplay" loop="loop")
      source(src="assets/videos/night.mp4" type="video/mp4")
      source(src="assets/videos/night.webm" type="video/webm")
  .parallax__layer
    img.parallax__layer-img(src="assets/images/bg/night_bg.png")

mixin preloaderIcon()
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='-14 -10 80 92' class="icon preloader-elem")
    text(class="preloader-elem__text" transform='matrix(1 0 0 1 5.772 45.0889)', font-family="'ArialMT'", font-size='24' text-anchor="middle" x="20" y="0") 0
    circle(class="preloader-elem__inner" stroke-width='2.5864' stroke-miterlimit='10' cx='26.293' cy='37.438' r='25'
      transform="rotate(-90 26.293 37.438)")
    circle(class="preloader-elem__outer", cx='26.293', cy='4.5', r='4.5')


  

  

    
  

  


                      
      
    
  

  
          
  
