include common/_variables
include common/_mixins

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    block title
      title
    link(rel='stylesheet' href='assets/styles/app.min.css')
    
  body
    .preloader
      .preloader__container
        .preloader__icon
          svg.icon.preloader-elem(xmlns='http://www.w3.org/2000/svg', viewbox='-14 -10 80 92')
            text.preloader-elem__text(
              transform='matrix(1 0 0 1 5.772 45.0889)'
              text-anchor="middle" x="20" y="0") 0
            circle.preloader-elem__inner(
              stroke-width='2.5864'
              stroke-miterlimit='10' cx='26.293' cy='37.438' r='25'
              transform="rotate(-90 26.293 37.438)")
            circle.preloader-elem__outer(cx='26.293', cy='4.5', r='4.5')

    .wrapper
      block content

    block scripts
    script(src='assets/scripts/bundle.js')